In [ ]:
import random

def gen():
  return random.choices(["T0","T1", "T2", "T3", "T4", "T5"], 
                    k = random.sample([4,5,6,6,7,7,7,7,7,7,7,7,7,7,8,8,8,8,9,9,9,9,9,10,10,10,10],1)[0])

In [ ]:
import csv
csv_file = '/content/hello.csv'


with open(csv_file, 'a', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Sequence1","Sequence2","Sequence3","Sequence4","Sequence5","Sequence6","Sequence7","Sequence8","Sequence9","Sequence10"])
    
    for i in range(10000):
      writer.writerow(gen())

In [ ]:
import pandas as pd
h=pd.read_csv("/content/hello.csv")

In [ ]:
h.head()

,Sequence1,Sequence2,Sequence3,Sequence4,Sequence5,Sequence6,Sequence7,Sequence8,Sequence9,Sequence10
0,T3,T0,T4,T5,T4,T3,T0,NaN,NaN,NaN
1,T1,T0,T4,T2,T3,T5,T5,T5,NaN,NaN
2,T4,T4,T3,T0,T0,T3,T3,T2,T2,T3
3,T1,T3,T0,T2,T2,T4,T1,NaN,NaN,NaN
4,T0,T5,T3,T5,T4,T1,T1,NaN,NaN,NaN

In [ ]:
def new_gen():
  return random.choices(["0","1", "2", "3", "4", "5"], 
                    k = random.sample([4,5,6,6,7,7,7,7,7,7,7,7,7,7,8,8,8,8,9,9,9,9,9,10,10,10,10],1)[0])

In [ ]:
new_gen()

['5', '2', '2', '0', '3']

In [ ]:

text_file = "/content/hello.txt"

with open(text_file, 'w') as f:

    for i in range(10000):
      for j in new_gen():
        f.write(j)